{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}

<h1 class="text-center m-5">Adopter Account</h1>

{{ form_start(form) }}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary mb-5">Modified Data</button>
{{ form_end(form) }}

<h2 class="text-center m-5">Password Modification</h2>
{{ form_start(formPassword) }}
    {{ form_widget(formPassword)}}
    <button type="submit" class="btn btn-primary mb-5">Modified Password</button>
{{ form_end(formPassword) }}

{% endblock %}
