{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}

<h1 class="text-center m-5">Adopter Account</h1>

{{ form_start(form) }}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary mb-5">Modified Data</button>
{{ form_end(form) }}

<h2 class="text-center m-5">Password Modification</h2>
{{ form_start(formPassword) }}
    {{ form_widget(formPassword)}}
    <button type="submit" class="btn btn-primary mb-5">Modified Password</button>
{{ form_end(formPassword) }}

<h2 class="text-center m-5">Requests List</h2>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col" class="text-center">#</th>
				<th scope="col" class="text-center">Request</th>
				<th scope="col" class="text-center">Announcement Concerned</th>
                <th scope="col" class="text-center">Dogs Concerned</th>
				<th scope="col" class="text-center">Seen</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">

			{% for request in requests %}
				<tr>
					<td class="text-center align-middle">{{request.id}}</td>
                    <td class="text-center align-middle">{{request.messages|length }}</td>
					<td class="text-center align-middle">{{request.announcement.id}}</td>
                    
					<td class="text-center align-middle">{% for dog in request.dogs %}{{dog.name}}{% endfor %}</td>
                    
					<td class="text-center align-middle"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table> 

{% endblock %}
