{% extends 'base.html.twig' %}

{% block title %}My Account
{% endblock %}

{% block body %}
	<h1 class="text-center">My Announcements</h1>
	<div class="d-flex">
		<div class='col-4 container'>
			<div class = "">
			<h2 class='text-center'>Modify My information</h2>
			{{ form_start(form) }}
			{{ form_row(form.name)}}
			{{ form_row(form.email)}}
			<div class='text-center'>
				<button type='submit'>Send</button>
			</div>
			{{ form_end(form) }}
			</div>

			{# recent messages #}
			<div>
			<h2 class="text-center pt-5">Recent Messages</h2>
			{% for message in messages %}
			<div class = "pt-5 mt-3">
			<p class = "text-center">Send on: <span class = 'text-primary'>{{message.dateMessage |date("F jS \\a\\t g:ia")}}</span></p>
			<p>{{message.text}}</p>
			</div>

			{# reply #}
			<div class="text-right" >
			<p>reply message goes here</p>
			<button type='submit'>Reply</button>
			</div>
			{% endfor %}

			</div>

		</div>
		{# breeder list #}
		<div class='col-8'>
			<ul class="text-center">

				{% for breederAnnouncement in breederAnnouncements %}
					<li class="mt-5 border bg">
						<h3>{{ breederAnnouncement.title }}</h3>

						<p>Last updated:
							{{ breederAnnouncement.dateAnnouncement|date('Y-m-d H:i:s') }}</p>
						{% for picture in breederAnnouncement.pictures|slice(0,3) %}
							<img class="p-5" src="{{asset('images/dogs/' ~ picture.link )}}" alt="Announcement dog photo">
						{% endfor %}
						{# show dog name #}
						{% for dog in breederAnnouncement.dogs %}
							<div>
								{% if dog.isAdopted == 1 %}
									<div><p class="font-weight-bold text-uppercase">Dog Name: {{dog.name}}</p><p class = "text-success font-italic"> Adopted</p> </div>
								{% else %}
									 <div><p class="font-weight-bold text-uppercase">Dog Name: {{dog.name}}</p><p class = "text-primary font-italic">Not Adopted</p> </div>
								{% endif %}
							</div>
						{% endfor %}

						{# show dog race #}
						{% for dog in breederAnnouncement.dogs %}
							<p>
								Race :
								{% for race in dog.races %}
									{{race.name}}
								{% endfor %}
							</p>
						{% endfor %}
					</li>
					<a class="btn btn-lg btn-outline-dark p-3 m-5" href="">Modify the Announcement</a>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

